.goodslist_con{
	width: 1280px;
	margin: 0 auto;
}
.gl-list .left_nav{
	float: left;
	width: 270px;
}
.gl-list .right_list{
	margin-left: 20px;
    width: 990px;
	float: left;
}
.gl_nav_title{
	overflow: hidden;
    line-height: 37px;
    font-size: 14px;
}
.gl_nav_title:before{
	display: inline-block;
    content: "";
    width: 5px;
    height: 13px;
    margin-left: 12px;
    vertical-align: middle;
    background-color: #3c3c3c;
}
.gl_nav_title{
	font-weight: 600;
	margin-left: 9px;
	font-family: LTMedium;
}
.left_nav_list{
	line-height: 30px;
    text-indent: 26px;
}
.left_nav_list li i{
	color: #444;
	font-size: 11px;
	margin-right: 5px;
	margin-left: -10px;
   	vertical-align: middle;
    	cursor: pointer;
}
.left_nav_sl{
	display: none;
	border-bottom: 1px solid #d9d9d9;
    	padding-bottom: 8px;
    	margin: 0 10px 8px 11px;
    	line-height: 30px;
   	text-indent: 26px;
}
.left_nav_sl li{
	margin: 0 -10px 0 -11px;
	padding-left: 20px;
}