.login_form{
      margin: 20px auto;
      width: 50%;
      float: left;
      padding: 20px 120px;
      border-right: 1px solid #dadada;
}
.login_tab{
      display: table;
      width: 100%;
      zoom: 1;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #dadada;
}
.login_tab>div{
      float: left;
      min-width: 120px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      background-color: #fff;
      height: 50px!important;
      cursor: pointer!important;
      padding-top: 5px;
      color: #ababab;
      font-family: LTMedium;
}
.login_tab>div h4{
      margin-top: auto;
      margin-bottom: auto;
      font-size: 14px;
      font-weight: 600;
}
.login_tab>div.active h4{
      color: #1b1b1b;
}
.login_tab>div.active{
      border-bottom: 4px solid #378694;
}
.login_btn{
      height: 52px;
      color: rgb(255, 255, 255);
      background-color: rgb(27, 27, 27);
      font-size: 14px;
      width: 100%;
      border: 0;  
}
.login_register{
      margin: 20px auto;
      width: 50%;
      float: left;
      padding: 0 120px;
}
.login_register h4{
      margin-top: 20px;
      font-size: 24px;
      text-indent: 6px;
      font-weight: 600;
      line-height: 60px;
}
.gotoregister_btn{
      height: 52px;
      color: rgb(255, 255, 255);
      background-color: rgb(27, 27, 27);
      font-size: 14px;
      width: 100%;
      border: 0;  
}