.sale_g{
	width: 1280px;
	margin: 0 auto;
	margin-bottom: 52px;
	/* background-color: #0055FF */
}
.sale_g ul{
	display: flex;
    width: 100%;
    height: 103px;
}
.sale_g ul li{
	display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sale_g ul li{
	text-align: center;
    flex: 1;	
}
.sale_g ul li .sg_title{
	font-size: 16px;
    height: 24px;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
	margin-bottom: 20px;

}
.sale_g ul li .sg_list{
	display: inline-block;
    flex-direction: row;
    width: 90%;
}
.sale_g ul li .sg_list a{
	font-weight: bold;
	display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    color: #000;
    margin-left: 20px;
	border-bottom: 2px solid #dadada;
    cursor: pointer;
}
.sale_g ul li .sg_list .sg_woman{
	margin-left: 0;
}
.sale_g .sg_list a:hover{
    color: red;
}