.shopcarts_con{
      width: 1280px;
      margin: 0 auto;
      min-height: 500px;
}
.iconfont{
      font-size: 22px;
      color: #ccc;
}
.sc_con_step ul{
      text-align: center;
      color: #dadada;
      margin: 40px 0;
}
.sc_con_step ul li{
      display: inline-block;
      margin: 0 30px;
}
.sc_con_step ul li div{
      display: inline-block;
      color: #fff;
      height: 20px;
      width: 20px;
      background-color: #dadada;
      border-radius: 50%;
      line-height: 20px;
}
.sc_con_step ul li.active div{
      background-color: #000;
}
.sc_con_step ul li.active span{
      color: #000;
      font-weight: 600;
}


.sc_con_header{
      border-top: 1px solid #ddd;
      border-bottom: 5px solid #ddd;
      height: 24px;
      padding:20px 0 ;
      position: relative;
}
.sc_con_header li{
      display: inline-block;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      position: absolute;
}

.sc_con_item{
      margin-top: 20px;
      height: 120px;
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
}
.sc_con_item::after{
      content: "";
      display: block;
      height: 0;
      clear: both;
}
.sc_con_method{
      /* width: 100px; */
      height: 100px;
      margin-left: 30px;
      float: left;
      /* line-height: 60px; */
}
.sc_con_method input{
      display: inline-block;
      opacity: 0.9;
      width: 20px;
      height: 20px;
      margin: 0;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 30px;
}
.sc_con_img{
      margin-left: 60px;
      width: 80px;
      height: 80px;
      float: left;
}
.sc_con_img img{
      width: 100%;
}
.sc_con_detail,
.sc_con_count,
.sc_con_price{
      float: left;
      margin-left: 50px;
      min-width: 70px;
}
.sc_con_count span{
      display: block;
      height: 20px;
      width: 80px;
      line-height: 16px;
      overflow: hidden;
      text-align: center;
      border: 2px solid #ccc;
      border-radius: 4px;
}
.sc_con_count span i{
      cursor: pointer;
}
.price_bold{
      font-weight: 600;
      font-size: 16px;
}